@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: $black-100;
    color: $black-0;
    font-size: $body;
    line-height: 1.5;
}

.text-black {
    color: $black-100;
}

.display-1 {
    font-size: $display-1;
    line-height: 1.2;
}

.display-2 {
    font-size: $display-2;
    line-height: 1.2;
}

.display-3 {
    font-size: $display-3;
    line-height: 1.2;
}

h1 {
    font-size: $h1;
    line-height: 1.2;
}

h2 {
    font-size: $h2;
    line-height: 1.2;
}

h3 {
    font-size: $h3;
    line-height: 1.2;
}

h4 {
    font-size: $h4;
    line-height: 1.2;
}

h5 {
    font-size: $h5;
    line-height: 1.2;
}

h6 {
    font-size: $h6;
    line-height: 1.2;
}

.small {
    font-size: $small;
    line-height: 1.5;
}

.tiny {
    font-size: $tiny;
    line-height: 1.5;
}

.bold-900 {
    font-weight: $bold-900;
}

.bold-700 {
    font-weight: $bold-700;
}

.d-flex {
    display: flex;
}

.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}

.btn {
    border: 1px solid $black-0;
    border-radius: 16px;
    padding: 20px 40px;
    color: $black-0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    display: block;
    text-decoration: none;

    &:hover {
        opacity: 0.8;
    }
}

button {
    border: 0;
    cursor: pointer;
    font-size: $body;
    font-weight: normal;
    background-color: transparent;
    padding: 0;
}

.navbar {
    padding: 20px 0;
    border-bottom: 1px solid #ffffff;
    position: relative;

    a {
        color: $black-0;
    }

    &-menu {
        gap: 20px;
    }

    &-btn {
        color: #ffffff;
        display: none;
        /* 在電腦版時不顯示 */

        &:hover {
            transform: scale(1.1);
        }
    }

    &-collapse {
        display: none;
        /* 在電腦版時不顯示 */
        position: absolute;
        top: 81px;
        width: 100%;
        min-height: calc(100vh - 81px);
        /* 佔滿整個瀏覽器高度扣掉 navbar 高度 */
        background-color: #000000;
        // border-top: 1px solid #ffffff;
        z-index: 999;

        a {
            font-size: $display-3;
            line-height: 1.2;
            margin: 4px 0;
        }
    }
}

.logo {
    width: 245px;
}

.motin-1 {
    position: absolute;
    animation-name: slide-up;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

.motin-2 {
    position: absolute;
    animation-name: slide-up;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: .5s;
}

.motin-3 {
    position: absolute;
    animation-name: slide-up;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.motin::before {
    content: "";
    position: absolute;
    z-index: 1;
    background-color: $black-100;
}

.motin::after {
    content: "";
    position: absolute;
    z-index: 1;
    background-color: $black-100;
}

.app {
    background-color: $black-0;
    color: $black-100;
    border-radius: 160px;
    padding: 160px 0;

    a {
        color: $black-100;
    }

    .display-3 {
        margin-bottom: 80px;
    }

    .btn {
        padding: 20px 32px 20px 40px;
        border: 1px solid $black-20;
        background-color: $black-0;
    }
}

.search-bar {
    background-color: $black-20;
    border-radius: 12px;
    padding: 20px 40px;
    gap: 12px;
    color: $black-60;

    input,
    input:focus {
        border: 0;
        background: transparent;
        font-size: $body;
        color: $black-60;
        width: 100%;

        &:focus {
            outline: 0;
            box-shadow: 0 1px 0 $black-60;
        }
    }
}

.tag-bar {
    margin-top: 24px;

    .btn:focus {
        border-color: $black-100;
    }

    .hidden {
        display: none;
    }
}

.filiter{
    position: relative;

    &_list {
        position: absolute;
        width: 240px;
        margin-top: 4px;
        padding: 20px 0;
        align-items: flex-start;
        text-align: left;
        background-color: $black-0;
        border-radius: 16px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        z-index: 999;
    
        .tiny {
            color: $black-60;
        }
    
        ul {
            width: 100%;
            gap: 8px;
            li{
                padding: 4px 32px;
            }
        }

        .filiter_list-item:hover{
            background-color: $black-20;
        }

        label{
            width: 100%;
            cursor: pointer;
        }

        input{
            visibility: hidden;
        }

        span{
            opacity: 0;
        }

        input:checked ~ span{
            opacity: 1;
        }

        .divider {
            margin: 4px 32px 20px 32px;
            border-bottom: 1px solid $black-20;
        }
    }
}

.tag-list {
    gap: 8px;

    button {
        padding: 8px 16px;
        color: $black-60;
    }

    .active-tag,
    li:hover {
        button {
            font-weight: $bold-900;
            color: $black-100;
            background-color: $black-20;
            border-radius: 16px;
        }
    }
}

.order{
    position: relative;
    &_list {
        position: absolute;
        margin-top: 4px;
        padding: 16px 0;
        right: 0;
        background-color: $black-0;
        border-radius: 16px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        z-index: 999;
        button{
            width: 100%;
            padding: 4px 20px;
            &:hover{
                background-color: $black-20;
            }
        }
    }
}

.app-list {
    gap: 24px;
    flex-wrap: wrap;
    margin: 40px 0;

    .img {
        height: 312px;
        overflow: hidden;
        border-radius: 16px 16px 0 0;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .5s;
    }

    .description {
        padding: 20px 32px;
        gap: 12px;

        p {
            height: 42px;
        }
    }

    &-item {
        border: 1px solid $black-20;
        border-radius: 16px;
        width: 416px;

        .space-between {
            padding: 20px 32px;
            border-top: 1px solid $black-20;
        }

        &:hover {
            img {
                transform: scale(1.2);
            }
        }
    }
}

.tag-page {
    justify-content: flex-end;
    gap: 4px;

    button {
        width: 48px;
        height: 48px;
        background-color: $black-0;
    }

    .active-tag-page,
    li:hover {
        button {
            background-color: $black-100;
            color: $black-0;
            border-radius: 16px;
        }
    }
}

.sum {
    padding: 80px 0;
    border-top: 1px solid $black-0;
    align-items: flex-start;

    ul {
        gap: 8px;
    }
}

.footer {
    padding: 20px 0;
    border-top: 1px solid $black-0;
    align-items: center;

    p {
        margin-right: 100px;
    }

    ul {
        padding: 12px 0;
        gap: 20px;
    }

    .backtotop {
        margin-left: auto;
        gap: 12px;
        padding: 12px 0;
        color: $black-0;

        p {
            margin-right: 0;
        }
    }
}

@media (max-width: 768px) {
    .d-flex {
        flex-wrap: wrap;
    }

    .container {
        max-width: 100%;
    }

    .navbar-btn {
        display: flex;
    }

    .navbar-menu {
        display: none;
    }

    .navbar-collapse.show {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        width: 147px;
    }

    .app {
        border-radius: 20px;
        padding: 80px 0;

        .display-3 {
            font-size: $h3;
            padding-bottom: 32px;
            margin: 0 35px;
        }
    }

    .search-bar {

        input,
        input:focus {
            width: auto;
        }
    }

    .filiter_list{
        width: calc(100vw - 24px);
    }

    .tag-list {
        margin-top: 16px;
        overflow: overlay;
        order: 2;
        flex-wrap: nowrap;

        li {
            height: 40px;
        }

        button {
            white-space: nowrap;
        }
    }

    .sum {
        flex-direction: column-reverse;
        gap: 40px;

        .logo {
            width: 245px;
        }

        .display-3 {
            font-size: $h1;
        }
    }

    .footer {
        overflow: hidden;

        p {
            margin-right: auto;
        }

        ul {
            order: 2;
            align-items: center;
        }
    }

    .hidden {
        display: none;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-180px);
        opacity: 0;
    }

    50% {
        transform: translateY(180px);
        opacity: 0;
    }

    75% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }
}