.text-black {
    color: $black-100;
}

.display-1 {
    font-size: $display-1;
    line-height: 1.2;
}

.display-2 {
    font-size: $display-2;
    line-height: 1.2;
}

.display-3 {
    font-size: $display-3;
    line-height: 1.2;
}

.small {
    font-size: $small;
    line-height: 1.5;
}

.tiny {
    font-size: $tiny;
    line-height: 1.5;
}

.bold-900 {
    font-weight: $bold-900;
}

.bold-700 {
    font-weight: $bold-700;
}

.d-flex {
    display: flex;
}

.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.btn {
    border: 1px solid $black-0;
    border-radius: 16px;
    padding: 20px 40px;
    color: $black-0;
}

.logo {
    width: 245px;
}

@media (max-width: 768px) {
    .d-flex {
        flex-wrap: wrap;
    }

    .logo {
        width: 147px;
    }
}