$black-100: #020202;
$black-80: #525252;
$black-60: #919191;
$black-40: #d1d1d1;
$black-20: #f2f2f2;
$black-0: #ffffff;
$primary: #f18724;
$surface: #f2efe7;

$display-1: 160px;
$display-2: 120px;
$display-3: 80px;
$h1: 48px;
$h2: 40px;
$h3: 32px;
$h4: 28px;
$h5: 24px;
$h6: 20px;
$body: 16px;
$small: 14px;
$tiny: 12px;

$bold-900: 900;
$bold-700: 700;