.footer {
    padding: 20px 0;
    border-top: 1px solid $black-0;
    align-items: center;

    p {
        margin-right: 100px;
    }

    ul {
        padding: 12px 0;
        gap: 20px;
    }

    .backtotop {
        margin-left: auto;
        gap: 12px;
        padding: 12px 0;
        color: $black-0;

        p {
            margin-right: 0;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        p {
            margin-right: auto;
        }

        ul {
            align-items: center;
        }
    }
}

@media (max-width: 576px) {
    .footer {
        ul{
            order: 2;
            flex-basis: 100%;
        }
    }
}
