@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: $black-100;
    color: $black-0;
    font-size: $body;
    line-height: 1.5;
}

h1 {
    font-size: $h1;
    line-height: 1.2;
}

h2 {
    font-size: $h2;
    line-height: 1.2;
}

h3 {
    font-size: $h3;
    line-height: 1.2;
}

h4 {
    font-size: $h4;
    line-height: 1.2;
}

h5 {
    font-size: $h5;
    line-height: 1.2;
}

h6 {
    font-size: $h6;
    line-height: 1.2;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    display: block;
    text-decoration: none;

    &:hover {
        opacity: 0.8;
    }
}

button {
    border: 0;
    cursor: pointer;
    font-size: $body;
    font-weight: normal;
    background-color: transparent;
    padding: 0;
}